[tams]
ntrajectories = 20
nsplititer = 200
loglevel = "INFO"
walltime = 7200.0
diagnostics = true
deterministic = true

[trajectory]
end_time = 20.0
step_size = 0.005
targetscore = 0.95
sparse_freq = 10

[model]
exec = "./boussinesq.exe"
init_state = "./ONState.bin"
size_M = 40
size_N = 80
epsilon = 0.01
K = 4

[runner]
type = "asyncio"
nworker_init=2
nworker_iter=2

[database]
path = "2DBoussinesqCpp.tdb"
